<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>sample1</title>
<style>
	p{
		border:1px solid blue;
	}
</style>
<script type="text/javascript" src="/testJ/js/main.js"></script>
</head>
<body>
	<h1>자바스크립트 작성 위치와 작성 방법</h1>
	<p id="demo1">inline 방식 : 시작태그에 on이벤트라는 속성을 추가하고
	자바스크립트 소스를 바로 작성할 수 있다.<br>
	on이벤트 속성은 자바스크립트가 제공하는 속성이며, 모든 태그에
	사용할 수 있다.</p>

	<button onclick="document.getElementById('demo1').innerHTML = 
	'onclick 속성에 자바스크립트 소스를 직접 작성한 경우의 테스트입니다.';">클릭하세요.</button>
	<hr>
	<h2>자바스크립트 소스를 script 태그 안에 함수(function) 단위로 작성하는 경우</h2>
	<p id="demo2">script 태그의 작성 위치는 head, body, html밖 어디든 작성 가능하며,
	한 문서 안에 여러번 사용 가능하다. html 태그에서 자바스크립트 소스를 연결 실행시키는 방법은 시작태그에 on이벤트 속성 추가하고, 값으로 실행할 자바스크립트 함수명을 기입하면 됨</p>
	<button onclick="myFunction1();">클릭하세요.2</button>
	<script type="text/javascript">
		function myFunction1(){
			document.getElementById("demo2").innerHTML = '해당 태그 아래에 script 태그 추가하고, 함수 작성해서 실행함';
		}
	</script>
	<hr>

	<h2>external : 별도의 자바스크립트 소스 파일(*.js)을 작성해 두고 필요한
	웹문서에서 가져다 사용하는 방식</h2>
	<img id="image1" src="/testJ/images/button.jpg" width="150" height="150" border ="0" onclick="changeImage1();"><br>
	<p> 그림을 클릭하면 해당 img 태그의 src 속성 값을 바꾸는 changeImage() 함수가 실행됨</p>
	<hr>
	<p id="demo3">
		아래 버튼을 클릭하면 스타일시트 css속성이 바뀝니다.
	</p>
	<button onclick="changeCSS();">스타일 바꾸기</button>
</body>
</html>